<style>
    .container_footer .box_items_footer {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    @media screen and (min-width: 996px) {
        .container_footer .box_items_footer {
            padding-left: 135px;
        } 
    }

    .container_footer .box_items_footer span {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 40px;
        display: block;
    }

    @media (max-width: 768px) {
        .container_footer .box_items_footer span {
            margin-top: 40px;
            margin-bottom: 15px;
        } 
    }

    .container_footer .box_items_footer li a {
        text-decoration: none;
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }

    .container_footer .box_items_footer li a:hover {
        text-decoration: underline;
    }

</style>
<div class="container container_footer">
    <div class="row box_items_footer">
        <div class="col-sm-3 col-md-3 text-center">
            <ul class="clearlist text-left">
                <span>{{'Brand'|_}}</span>
                <li>
                    <a href="{{'about'|page}}">
                        {{'About'|_}}
                    </a>
                </li>
                <li><a href="{{'contacts'|page}}">{{'Contact'|_}}</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
            <ul class="clearlist text-left">
                <span>{{'CUSTOMER'|_}}</span>
                <li><a href="{{'general_conditions'|page}}">{{'General Conditions'|_}}</a></li>
                <li><a href="{{'tems_conditions'|page}}">{{'Terms & Conditions of Sale'|_}}</a></li>
                <li><a href="{{'privacy_note'|page}}">{{'Privacy Note'|_}}</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
            <ul class="clearlist text-left">
                <span>{{'PERSONAL AREA'|_}}</span>
                {% if user %}
                    <li>
                        <a href="{{'account_profile'|page({page: 'orders'})}}">
                            {{'Account'|_}}
                        </a>
                    </li>
                    <li>
                        <a href="{{'wishlists'|page}}">
                            {{'Wishlist'|_}}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{'login_registo'|page}}">
                            {{'Log In'|_}}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 text-center">
            <ul class="clearlist text-left">
                <span>{{'HELP'|_}}</span>
                <li>
                    <a href="{{'faqs'|page}}">
                        FAQ's
                    </a>
                </li>
                {% if false %}
                    <li>
                        <a href="{{'faqs'|page}}">
                            {{'Returns'|_}}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
