==
{##}


<style>
    .cart_count_navbar{
        position: relative;
        padding: 0 2px;
    }
    
    .cart_count_navbar::after {
        position: absolute;
        content: attr(data-bascket);
        line-height: 19px;
        text-align: center;
        top: 50%;
        right: 0px;
        transform: translateY(-51%);
    }
</style>
<!-- Navigation panel -->
<nav class="main-nav white stick-fixed">
    <div class="full-wrapper relative clearfix">

        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap nav-logo-wrap_mobile local-scroll">
            <a href="{{'home'|page}}" class="logo">
                <img src="{{'assets/images/logo/logo.png'|theme}}" alt="" />
            </a>
        </div>

        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <div class="nav-logo-wrap local-scroll nav-logo-wrap_desktop">
                <a href="{{'home'|page}}" class="logo">
                    <img src="{{'assets/images/logo/logo.png'|theme}}" alt="" />
                </a>
            </div>
            <ul class="clearlist nav_items_navbar">
                <li>
                    <a href="{{'about'|page}}">{{'About'|_}}</a>
                </li>

                <li>
                    <a href="{{'listagem_produtos'|page({slug: 'home'})}}" class="mn-has-sub">
                        {{'For Home'|_}} 
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'home' ~'/'~ 'bed-wear'})}}">
                                        {{'Bed wear'|_}}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'home' ~'/'~ 'buckwheat-hulls-pillows'})}}">
                                        {{'Buckwheat Hulls Pillows'|_}}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'home' ~'/'~ 'buckwheat-pillows-case'})}}">
                                        {{'Buckwheat Pillows Case'|_}}
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>

                <li>
                    <a href="{{'listagem_produtos'|page({slug: 'clothes'})}}" class="mn-has-sub">
                        {{'Clothes'|_}} 
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'clothes' ~'/'~ 'woman'})}}">
                                        {{'Woman'|_}}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'clothes' ~'/'~ 'man'})}}">
                                        {{'Man'|_}}
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>

                <li>
                    <a href="{{'listagem_produtos'|page({slug: 'accessories'})}}" class="mn-has-sub">
                        {{'Accessories'|_}} 
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="{{'listagem_produtos'|page({slug: 'accessories' ~'/'~ 'lavender'})}}">
                                        {{'Lavender'|_}}
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>
            </ul>
            
            <ul class="clearlist">
                <!-- Log in -->
                <li>
                    {% if not user %}
                        <a href="{{'login_registo'|page}}">{{'Log in'|_}}</a>
                    {% else %}
                        <a href="{{'account_profile'|page({page: 'orders'})}}">{{'Hello'|_}} {{user.name}}</a>
                    {% endif %}

                </li>
                <!-- End Log in -->

                <!-- Wishlist -->
                {% if user %}
                    <li>
                        <a href="{{'wishlists'|page}}">{{'Wishlist'|_}}</a>
                    </li>
                {% endif %}
                <!-- End Wishlist -->

                <!-- Cart -->
                <li>
                    {% set cartCount = cart.products.count %}
                    <a href="{{'shop_cart'|page}}" >
                        <i class="fa fa-shopping-cart"></i>
                         {{'Cart'|_}} 
                         (<span class="cart_count_navbar" data-bascket="{% if cartCount %}{{ cartCount }}{% else %}0{% endif %}">
                         </span>)
                    </a>
                </li>
                <!-- End Cart -->

            </ul>
        </div>
        <!-- End Main Menu -->

    </div>
</nav>
<!-- End Navigation panel -->
{% put scripts %}
<script>
    /* Update cart products count in navbar */

    $(function () {
        var nbItems = '{{ cart.products.count }}';
        var $count = $('.cart_count_navbar');
        $.subscribe('mall.cart.productAdded', function (e, data) {
            // You have access to different values here.
            // console.log(data.item);
            // console.log(data.quantity);
            $count[0].setAttribute('data-bascket', ++nbItems);
        });
        $.subscribe('mall.cart.productRemoved', function (e, data) {
            // You have access to different values here.
            // console.log(data.item);
            // console.log(data.quantity);
            nbItems--;
            if (nbItems < 0) nbItems = 0;
            $count[0].setAttribute('data-bascket', nbItems);
        });
    });

</script>
{% endput %}