<!-- Navigation panel -->
<nav class="main-nav white stick-fixed">
    <div class="full-wrapper relative clearfix">

        <!-- Logo ( * your text or image into link tag *) -->
        <!-- <div class="nav-logo-wrap local-scroll">
            <a href="mp-index.html" class="logo">
                <img src="{{'assets/images/logo/logo-white.png'|theme}}" alt="" />
            </a>
        </div> -->

        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <div class="nav-logo-wrap local-scroll">
                <a href="{{'home'|page}}" class="logo">
                    <img src="{{'assets/images/logo/logo.png'|theme}}" alt="" />
                </a>
            </div>
            <ul class="clearlist nav_items_navbar">
                <li>
                    <a href="{{'about'|page}}" class="mn-has-sub">About</a>
                </li>

                <li>
                    <a href="#" class="mn-has-sub">Clothes <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="">Woman</a>
                                </li>
                                <li>
                                    <a href="">Man</a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>
                
                <li>
                    <a href="#" class="mn-has-sub">Home <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="">Bed wear</a>
                                </li>
                                <li>
                                    <a href="">Buckwheat Hulls Pillows</a>
                                </li>
                                <li>
                                    <a href="">Buckwheat Pillows Case</a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>

                <li>
                    <a href="#" class="mn-has-sub">Accessories <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <ul class="mn-sub mn-has-multi">

                        <!-- Sub Column -->
                        <li class="mn-sub-multi">

                            <ul>
                                <li>
                                    <a href="">Lavender</a>
                                </li>
                            </ul>

                        </li>
                        <!-- End Sub Column -->

                    </ul>
                    <!-- End Sub Multilevel -->

                </li>
            </ul>
            
            <ul class="clearlist">
                <!-- Log in -->
                <li>
                    <a href="{{'login_registo'|page}}" class="mn-has-sub">Log in</a>

                </li>
                <!-- End Log in -->

                <!-- Wishlist -->

                <li>
                    <a href="#" class="mn-has-sub">Wishlist</a>
                </li>
                <!-- End Wishlist -->

                <!-- Cart -->
                <li>
                    <a href="{{'shop_cart'|page}}"><i class="fa fa-shopping-cart"></i> Cart(0)</a>
                </li>
                <!-- End Cart -->

            </ul>
        </div>
        <!-- End Main Menu -->

    </div>
</nav>
<!-- End Navigation panel -->
