<tr>
    <td class="hidden-xs">
        <a href=""><img src="{{'assets/images/teste/shop-prev-1.jpg'|theme}}" alt="" /></a>
    </td>
    <td>
        <a href="#" title="">Polo Shirt With Argyle Print</a>
    </td>
    <td>
        M
    </td>
    <td>
        <form class="form">
            <input type="number" class="input-sm" style="width: 60px;" min="1" max="100"
                value="1" />
        </form>
    </td>
    <td>
        $25.99
    </td>
    <td>
        <a href=""><i class="fa fa-times"></i></a>
    </td>
</tr>