{##}
<div class="mall-cart-summary">
    <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mall-cart-summary__billing-address">
                    <h4 class="mall-cart-summary__heading">Billing address</h4>
                    {% component 'billingAddressSelector' %}
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mall-cart-summary__shipping-address">
                    <h4 class="mall-cart-summary__heading">Shipping address</h4>
                    {% component 'shippingAddressSelector' %}
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mall-cart-summary__payment-method">
                    <h4 class="mall-cart-summary__heading">Payment method</h4>
                    <div>
                        {% partial __SELF__ ~ '::paymentmethod' %}
                    </div>
                </div>            
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mall-cart-summary__shipping-method">
                    <h4 class="mall-cart-summary__heading">Shipping method</h4>
                    <div>
                        {% partial __SELF__ ~ '::shippingmethod' %}
                    </div>
                </div>            
            </div>
    </div>
</div>