==
{##}

<div class="col-md-8 col-md-offset-1 dasboard_box">
    <div class="row mb-4">
        <div class="col-md-12">
            <h1>
                {{'Your profile'|_}}
            </h1>
        </div>
    </div>
<form class="edit_form form" data-request="onSubmit" data-request-validate data-request-flash>
    {# EMAIL #}
    <div class="row mb-30">
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">{{'E-mail'|_}}</label>
                <input class="form-control" id="email" type="email" placeholder="email@email.com" name="email" value="{{user.email }}">
                <div data-validate-for="email"></div>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-30">
            <div class="form-group">
                <label for="firstname">{{'First Name*' }}</label>
                <input class="form-control" id="firstname" type="text" name="firstname" value="{{ user.customer.firstname }}">
                <div data-validate-for="firstname"></div>
            </div>
        </div>
        <div class="col-md-6 mb-30">
            <div class="form-group">
                <label for="lastname">{{ 'Last Name' }}</label>
                <input class="form-control" id="lastname" type="text" name="lastname" value="{{ user.customer.lastname }}">
                <div data-validate-for="lastname"></div>
            </div>        
        </div>
    </div>
    {% if user.customer.is_guest %}
        <div class="mall-callout">
            {{ 'offline.mall::frontend.guest_upgrade.callout' | trans }}
        </div>
    {% endif %}
    <div class="row mb-30">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">{{ 'Password'|_ }}</label>
                <input class="form-control" id="password" type="password" name="password">
                <div data-validate-for="password"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password_repeat">{{ 'Confirm Password'|_ }}</label>
                <input class="form-control" id="password_repeat" type="password" name="password_repeat">
                <div data-validate-for="password_repeat"></div>
            </div>
        </div>
    </div>
    <div class="form-group text-right">
        <button  class="btn mt-4 btn-mod btn-round" type="submit" data-attach-loading>
            Save
        </button>
    </div>
</form>
</div>
