 <!-- Section -->
 <section class="page-section pb-0">
    <div class="container relative">
        
        <!-- Product Content -->
        <div class="row mb-60 mb-xs-30">

            <!-- Product Images -->
                {% partial 'product_page/image_product'  %}
            <!-- End Product Images -->
            

            <!-- Product Description -->
                {% partial 'product_page/product_info' %}
            <!-- End Product Description -->
            
        </div>
        <!-- End Product Content -->
    </div>
</section>
<!-- End Section -->
<hr class="mt-0 mb-30"/> 