<style>
    .mall-wishlist-item{
        width: 46px !important;
        padding: 0 !important;
        height: 46px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 10px !important;
        font-size: 20px !important;
    }

    .mall-wishlist-item:hover {
        background-color: #e41919 !important;
    }

    
</style>


{% if produtoWishlist|length > 0 %}
    <p style="padding-top: 13px;">
        Added to Wishlist
    </p>
{% else %}

<a href="javascript:;"
   class="mall-wishlist-item mall-add-to-cart-button btn btn-mod btn-large btn-round"
   data-request="onAddLanaWishList"
   data-request-flash
   data-request-success="
    $.publish('mall.wishlist.productAdded', data);
    document.querySelector('.mall-wishlist-button__popup').classList.remove('mall-wishlist-button__popup--visible');
   "
   data-request-data="
         wishlist_id: '{{ list_id }}',
         product_id: '{{ __SELF__.encode(product_id) }}',
         variant_id: '{{ __SELF__.encode(variant_id) }}'
    ">
    <i class="fa fa-heart" aria-hidden="true"></i>
</a>

{% endif %}