<form method="post" action="#" id="form" role="form" class="form">
    <h2 class="font-alt">
        Login
    </h2>
    <div class="mb-30">
        <label class="mb-10" for="login_email">
            Email address
        </label>
        <input type="email" class="form-control input-md" id="login_email" placeholder="Email">
    </div>
    <div class="mb-30">
        <label class="mb-10" for="login_pass">
            Password
        </label>
        <input type="password" class="form-control input-md" id="login_pass" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-mod btn-b btn-medium col-sm-12 mb-xs-10">
        Sign in
    </button>
</form>
