<form method="post" action="#" id="form" role="form" class="form">
    <h2 class="font-alt">
        Create account
    </h2>
    <div class="mb-30">
        <label class="mb-10" for="create_first_name">First Name</label>
        <input type="text" class="form-control input-md" id="create_first_name" placeholder>
    </div>
    <div class="mb-30">
        <label class="mb-10" for="create_last_name">Last Name</label>
        <input type="text" class="form-control input-md" id="create_last_name" placeholder>
    </div>
    <div class="mb-30">
        <label class="mb-10" for="create_email">Email address</label>
        <input type="email" class="form-control input-md" id="create_email" placeholder="Email">
    </div>
    <div class="mb-30">
        <label class="mb-10" for="create_pass">Password</label>
        <input type="password" class="form-control input-md" id="create_pass" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-mod btn-b btn-medium col-sm-12 mb-xs-10">Create</button>
</form>
