<!-- Section -->
<div class="container mt-30">
    <div class="row">
        <div class="col-md-4 mt-30">
            <div class="mod-breadcrumbs font-alt align-left">
                <a href="#">Home</a>&nbsp;/&nbsp;<span>Shop</span>
            </div>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container relative">

        <div class="row">
            <!-- Content -->
            <div class="col-sm-12">

                <!-- Shop options -->
                <div class="clearfix mb-40">

                    <div class="left section-text mt-10">
                        Showing 1–12
                    </div>

                    <div class="right">
                        <div method="post" action="#" class="form">
                            {% component 'mallProductsFilter' %}
                        </div>
                    </div>

                </div>
                <!-- End Shop options -->

                <div class="row multi-columns-row">

                    <!-- Shop Item -->
                    {% component 'mallProducts' %}
                    
                    <!-- End Shop Item -->

                </div>

                <!-- Pagination -->
                    {% partial 'listagem_produtos/paginacao' %}
                <!-- End Pagination -->

            </div>
            <!-- End Content -->


        </div>

    </div>
</section>
<!-- End Section -->
