<style>
    .mall-product__variants {
        display: flex;
    }

    .mall-product__variant {
        margin-right: 15px;
    }
</style>
<form data-request="onAddToCart"
      data-request-success="data.added && $.publish('mall.cart.productAdded', data)"
      data-request-validate
      data-request-flash
      class="form"
      id="mall-add-to-cart">
    <div class="row mb-40">
        {% if props.count > 0 and item.inventory_management_method == 'variant' %}
            <div class="mall-product__variant-properties col-md-6">
                {% partial __SELF__ ~ '::properties' props=props %}
            </div>
        {% endif %}

        {% if item.custom_fields.count > 0 %}
            <div class="mall-product__custom-fields col-md-6">
                {% partial __SELF__ ~ '::customfields' fields=item.custom_fields %}
            </div>
        {% endif %}
        
    </div>
    <hr class="mt-0 mb-30 ">
    <div class="row">
        <div class="mall-product__add-to-cart col-md-12">
            {% if item.allow_out_of_stock_purchases %}
                {% partial __SELF__ ~ '::addtocart.htm' item=item %}
            {% else %}
                <div class="mall-product__property-stock mall-product__property-stock--checking mt-20">
                    {{ 'offline.mall::frontend.stock.checking' | trans }}
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="mt-0 mb-30 ">
    <div class="row">
        <div class="col-md-12">
            {% if variants.count > 0 %}
            <h5 class="mall-product__variants-heading">
                Other Color
            </h5>
            {% if false %}
                <h5 class="mall-product__variants-heading">{{ 'offline.mall::frontend.variants' | trans }}</h5>
            {% endif %}
                <div class="mall-product__variants">
                    {% for value, variant in variants %}
                        {% set variant = variant.first() %}
                        <div class="mall-product__variant">
                            <a href="{{ this.page.fileName|page({slug: this.param.slug, variant: variant.hashId}) }}"
                            title="{{ variant.name }}">
                                <img src="{{ variant.main_image.thumb(80, auto) }}" alt="{{ variant.name }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</form>