<div class="mall-property-group sort_by_filter">
    <div class="mall-filter">
        <div class="mall-form-control">
            <select name="sort" id="mall-sorter" class="js-mall-select-filter selectpicker input-md round" style="background-color: #fff;">
                <option selected value="">
                    Sort order: 
                </option>
                <option value="latest">
                    Latest
                </option>
                <option value="price_low">
                    Lowest Price
                </option>
                <option value="price_high">
                    Highest price
                </option>
                <option value="oldest">
                    Oldest
                </option>
            </select>
        </div>
    </div>
</div>