{##}

{% set isActiveMethod = paymentMethodSelector.activeMethod.id == method.id %}
<div class="mall-payment-method__entry js-mall-select-payment-method
     {{ isActiveMethod ? 'mall-payment-method__entry--active' : '' }}"
     data-id="{{ method.id }}">  
           
            <div class="mall-payment-method__logo">
                {% if method.logo %}
                    <img class="mall-payment-method__logo" src="{{ method.logo.thumb(120, 'auto') }}" alt=""/>
                {% endif %}
            </div>
            <div class="mall-payment-method__text">
                <div>
                    {# NOME DO METODO #}
                    <div class="mall-payment-method__heading">
                        <div class="mall-payment-method__name">{{ method.name }}</div>
                    </div>
                    {% if method.description %}
                        <div class="mall-payment-method__description">
                            {{ method.description | raw }}
                        </div>
                    {% endif %}
        
                    {# METODO DE PAGAMENTO SELECIONADO #}
                    {% if isActiveMethod %}
                        {# INSTRUÇÕES DE PAGAMENTO #}
                        <div class="mall-payment-method__instructions">
                            {{ method.renderInstructions(paymentMethodSelector.order, paymentMethodSelector.cart) | raw }}
                        </div>
                        <div class="mall-payment-method__toggle"
                                style="{% if not isActiveMethod %}display: none{% endif %}">
                            <div class="mall-payment-method__data">
                                {% if method.payment_provider %}
                                    {% set path = 'paymentMethodSelector/gateways/' ~ (method.payment_provider) %}
                                    {% if partial(path) %}
                                        {% partial path %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% set customerMethods = paymentMethodSelector.customerMethods[method.id] %}
                            {% if customerMethods %}
                                <div class="mall-payment-method__customer-methods">
                                    {% partial 'paymentMethodSelector/customermethods' methods=customerMethods %}
                                </div>
                            {% endif %}
                            {% if   method.code == 'netcaixa' or 
                                    method.code == 'mbway' or
                                    method.code == 'sibs'
                            %}
                            {% else %}
                                <div class="mall-payment-method__submit carrinho_total">
                                    {% set label = paymentMethodSelector.order
                                        ? 'Pay'|_
                                        : 'Proceed with this method'|_ %}
                                    <button class="js-btn-pagar btn btn_comprar mt-4 btn-mod" style="margin-top: 26px;" type="submit" data-attach-loading>
                                        {{ label | trans }}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            
    <div class="mall-payment-method__selector">
        {% if not isActiveMethod %}
            <button class="mall-payment-method__select-button btn-mod"
                    data-attach-loading
                    data-request="{{ __SELF__ }}::onChangeMethod"
                    data-request-success="$.publish('mall.cart.paymentMethodChanged', data)"
                    data-request-data="id: '{{ method.id }}'">
                {{ 'offline.mall::frontend.payment_method.button_label' | trans }}
            </button>
        {% endif %}
    </div>
</div>
