title = "General Sales Conditions"
url = "/general-conditions"
layout = "default"

[slideshows]
sstheme = "lana"

[faq]
==

<!-- Head Section -->
{% partial 'site/banner' %}
<!-- End Head Section -->


<!-- Section -->
<section class="page-section">
    <div class="container relative">

        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2">
                <hr class="mb-30" />
                {% for faq in faqs if faq.slug == 'general-conditions' %}
                    {% for pergunta in faq.perguntas %}
                        <h4 class="font-alt">
                            {{pergunta.pergunta}}
                        </h4>
                        <p>
                            {{pergunta.resposta|raw}}
                        </p>
                        <hr class="mb-30" />
                    {% endfor %}
                {% endfor %}

            </div>
        </div>

    </div>
</section>
<!-- End Section -->
