title = "Shop Cart"
url = "/shop_cart"
layout = "default"
==


<style>
    .container_shop_cart .table-striped tr th,
    .container_shop_cart .table-striped tr td {
        border: 0;
    }

</style>

<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-0">Shopping Cart</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Head Section -->

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-30">
            <div class="mod-breadcrumbs font-alt align-left">
                <a href="#">Home</a>&nbsp;/&nbsp;<span>About Us</span>
            </div>

        </div>
    </div>
</div>
<!-- Section -->
<section class="page-section">
    <div class="container container_shop_cart">

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <!-- mallCart -->
                {% component 'mallCart' %}

                <hr class="mb-60" />

                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6 text align-right pt-10">



                        {% set totals=cart.totals %}
                        {% set discounts=cart.totals.appliedDiscounts %}
                        {% set shipping=cart.totals.shippingTotal %}
                        {% set payment=cart.totals.paymentTotal %}
                        {% set totals=cart.totals %}
                        {% set taxes=cart.totals.taxes %}
                    
                        {# SUB TOTAL #}

                        <div>
                            Cart subtotal: 
                            <strong>
                                {{ totals.productPostTaxes | money }}
                            </strong>
                        </div>

                        {# DISCOUNTS #}

                        {% for entry in discounts %}
                        <div class="mb-10">
                            {{ entry.discount.name }}
                            {% if entry.discount.code %}
                                ({{ entry.discount.code }})
                            {% endif %} 
                            <strong>
                                {{ entry.savings | money }}
                            </strong>
                        </div>
                        {% endfor %}

                        {# SHIPPING #}
                        <div class="mb-10">
                            Shipping {{ shipping.method.name }}: 
                            <strong>
                                {{ shipping.totalPostTaxes | money }}
                            </strong>
                        </div>

                        {# TOTAL #}
                        <div class="lead mt-0 mb-30">
                            Order Total: 
                            <strong>
                                {{ cart.totals.totalPostTaxes | money }}
                            </strong>
                        </div>
                        {% if not step %}
                        <div>
                            <a href="{{'checkout'|page}}" class="btn btn-mod btn-round btn-large">Proceed to Checkout</a>
                        </div>
                        {% endif %}
                    </div>
                </div>



            </div>
        </div>

    </div>
</section>
<!-- End Section -->
