title = "Tems & Conditions"
url = "/tems-conditions"
layout = "default"

[slideshows]
sstheme = "lana"

[faq]
==


<!-- Head Section -->
{% partial 'site/banner' %}
<!-- End Head Section -->


<!-- Section -->
<section class="page-section">
    <div class="container relative">

        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2">
                
                <dl class="accordion">
                {% for faq in faqs if faq.slug == 'terms-and-conditions-sale' %}
                    {% for pergunta in faq.perguntas %}
                        <dt>
                            <a href="">
                                {{pergunta.pergunta}}
                            </a>
                        </dt>
                        <dd>
                            {{pergunta.resposta|raw}}
                        </dd>
                           
                    {% endfor %}
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
