==
{##}
{% for address in __SELF__.addresses %}
<div class="row listagem_moradas">
    <div class="col-6">
     {% if address.company %}
        <p>
            <span>
                Company:
            </span>
            {{ address.company }}
        </p>
     {% endif %}
    <p>
        <span>
            Name:
        </span>
        {{ address.name }}
    </p>
    {% if address.nif %}
        <p>
            <span>
                VAT Number:
            </span>
            {{ address.nif }}
        </p>
    {% endif %}
    {% if address.telefone %}
        <p>
            <span>
                Telephone:
            </span>
            {{ address.telefone }}
        </p>
    {% endif %}

    </div>
    <div class="col-6">
        <div class="row">

        </div>
        <p>
            <span>
                Address:
            </span>
            {{ address.lines | nl2br }}
        </p>
        <p>
            <span>
                Zip Code:
            </span>
            {{ address.zip }} {{ address.city }}
        </p>
        <p>
            <span>
                Country:
            </span>
            {{ address.country.name }}
        </p>
    </div>
    <div class="col-6 offset-6 text-right mb-4">
        <a href="{{ __SELF__.addressPage | page({address: address.hashId, redirect: 'account'}) }}"
            class="btn btn_a btn-mod btn-round">
            Edit
        </a>
        {% if __SELF__.addresses.count > 1 %}
            <a href="javascript:;" data-request="onDelete" data-request-data="id: '{{ address.hashId }}'"
                data-request-confirm="{{ 'Tem a certeza' | _ }}"
                class="btn btn_a btn_a--rev btn-mod btn-round">
                    {{ 'Delete' | trans }}
            </a>
        {% endif %}
    </div>
</div>
<hr>
{% endfor %}