==
{##}
<div class="form-row">
    <div class="col-12 mb-30">
        <label class="mb-10" for="{{ type }}_company">{{ 'Company (optional)'|_ }}</label>
        <input class="form-control" id="{{ type }}_company" type="text" name="{{ type }}_company">
        <div data-validate-for="{{ type }}_company"></div>
    </div>
</div>
<div class="form-row">
    <div class="col-12 mb-30">
        <label class="mb-10" for="{{ type }}_address_name">{{ 'Name'|_ }}</label>
        <input class="form-control" id="{{ type }}_address_name" type="text" name="{{ type }}_address_name">
        <div data-validate-for="{{ type }}_address_name"></div>
    </div>

</div>
<div class="form-row">
    <div class="col-12 mb-30">
        <label class="mb-10" for="{{ type }}_lines">{{'Address'|_ }}</label>
        <textarea class="form-control" style="height: auto" id="{{ type }}_lines" type="text" name="{{ type }}_lines"></textarea>
        <div data-validate-for="{{ type }}_lines"></div>
    </div>

</div>
<div class="mall-two-fields">
    <div class="form-row">
        <div class="col-12 mb-30">
            <label class="mb-10" for="{{ type }}_zip">{{ 'Postal Code'|_ }}</label>
            <input class="form-control" id="{{ type }}_zip" name="{{ type }}_zip" type="text">
            <div data-validate-for="{{ type }}_zip"></div>
        </div>

    </div>
    <div class="form-row">
        <div class="col-12 mb-30">
            <label class="mb-10" for="{{ type }}_zip">{{ 'VAT number (optional)'|_ }}</label>
            <input class="form-control" id="{{ type }}_nif" name="{{ type }}_nif" type="text">
            <div data-validate-for="{{ type }}_nif"></div>
        </div>

    </div>
    <div class="form-row">
        <div class="col-12 mb-30">
            <label class="mb-10" for="{{ type }}_city">{{ 'Locale'|_ }}</label>
            <input class="form-control" id="{{ type }}_city" name="{{ type }}_city" type="text">
            <div data-validate-for="{{ type }}_city"></div>
        </div>

    </div>
</div>
<div class="{{ __SELF__.useState ? 'mall-two-fields' }}" id="countryState_{{ type }}">
    {% partial __SELF__ ~ '::countrystate' type=type %}
</div>
