{% set type = type|default(form_value('type')) %}
{% set countryId = form_value(type ~ '_country_id') %}
{% set stateId = form_value(type ~ '_state_id') %}

{# If only one country is available it can be preselected. #}
{% if (__SELF__.countries | length) == 1 %}
    {% set countryId = (__SELF__.countries | keys)[0] %}
{% endif %}

{% set id = type ~ '_country_id' %}
<div class="mall-form-control">
    <label for="{{ id }}">{{'Country'|_}}</label>
    <div class="row">
        <div class="col-md-12 mb-10 form">
            {{ form_select_country(id, countryId, {
                id: id,
                emptyOption: ('Select' | trans ),
                'style': 'background-color: #fff; width: 100%',
                'data-request': 'onInit',
                'data-request-data' : ("type: '" ~ type ~ "'"),
                'data-request-update': {
                    (__SELF__ ~ '::countrystate'): ('#countryState_' ~ type)
                }
            }) }}
            <div data-validate-for="{{ id }}"></div>
        </div>
    </div>
    
    
</div>
{% if __SELF__.useState %}
    {% set id = type ~ '_state_id' %}
    <div class="row">
        <div class="col-md-12 mb-30">
            <div class="mall-form-control form">
                <label for="{{ id }}"></label>
                {{ form_select_state(id, countryId, stateId, {
                    id: id,
                    'style': 'background-color: #fff; width: 100%',
                    emptyOption: ('Select' | trans ),
                }) }}
                <div data-validate-for="{{ id }}"></div>
            </div>
        </div>
    </div>
    
{% endif %}