<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider bg-dark" id="home">
    {% for slide in slideshow.slides %}
        <!-- Slide Item -->
        <section class="home-section bg-scroll fixed-height-small bg-dark-alfa-50" data-background="{{slide.imagem.getPath()}}">
            <div class="js-height-parent banner_home container">
                
                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">
                        
                        <div class="hs-line-8 no-transp font-alt mb-40 mb-xs-10">
                            {{slide.titulo}}
                        </div>
                        <div class="hs-line-2 no-transp font-alt mb-40 mb-xs-10">
                                {{slide.subtitulo}}
                        </div>
                        {% if slide.url|length > 0 %}
                            <div class="local-scroll">
                                <a href="{{slide.url}}" class="btn btn-mod btn-w btn-medium">
                                    {{'Shop Now'|_}}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->
    {% endfor %}
    

</div>
<!-- End Fullwidth Slider -->