<style>
    .container_category {
        margin-top: 95px;
    }

    .container_category h2 {
        margin-bottom: 35px;
    }

    .container_category span {
        margin-bottom: 70px;
        display: block;
        padding: 0 310px;
    }

</style>

<section class="page-section container_category pt-10 pb-0">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="font-alt">
                Choose Category
            </h2>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae placeat officia nisi doloremque,
                repellendus rem ratione non totam dicta veniam ducimus reiciendis, tempora debitis aliquid excepturi.
                Rem suscipit sit sunt.
            </span>
        </div>
    </div>
    <div class="relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Grid -->
                    <ul class="works-grid work-grid-gut work-grid-3 clearfix font-alt hover-white hide-titles row"
                        id="work-grid" style="position: relative; height: 0px;">

                        <!-- Item -->
                        <li class="col-md-4">
                            <div class="post-prev-img mb-0">
                                <a href="{{'listagem_produtos'|page}}" class="work-ext-link"><img
                                        src="{{'assets/images/teste/shop-prev-1.jpg'|theme}}" alt=""></a>
                            </div>
                        </li>
                        <!-- End Item -->

                        <!-- Item -->
                        <li class="col-md-4">
                            <div class="post-prev-img mb-0">
                                <a href="{{'listagem_produtos'|page}}" class="work-ext-link"><img
                                        src="{{'assets/images/teste/shop-prev-1.jpg'|theme}}" alt=""></a>
                            </div>
                        </li>
                        <!-- End Item -->

                        <!-- Item -->
                        <li class="col-md-4">
                            <div class="post-prev-img mb-0">
                                <a href="{{'listagem_produtos'|page}}" class="work-ext-link"><img
                                        src="{{'assets/images/teste/shop-prev-1.jpg'|theme}}" alt=""></a>
                            </div>
                        </li>
                        <!-- End Item -->

                    </ul>
                    <!-- End Grid -->
                </div>
            </div>
        </div>


    </div>
</section>
