<div style="width: 100%; display: block; height: 25px;"></div>
<section class="small-section">
    <div class="container relative">
        
        <form class="form align-center" id="mailchimp" novalidate="true">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <h2 class="font-alt">
                        Stay informed with our newsletter
                    </h2>
                    
                    <div class="mb-20">
                        <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required="" name="EMAIL">
                        
                        <button type="submit" class="btn btn-mod btn-b btn-medium btn-round mb-xs-10">
                            Subscribe
                        </button>
                    </div>
                    
                    <div class="form-tip">
                        <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                    </div>
                    
                    <div id="subscribe-result"></div>
                    
                </div>
            </div>
        </form>
        
    </div>
</section>